# Node Modules
node_modules/

# Environment Variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Folders
build/
dist/

# Coverage
coverage/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads (optional)
Backend/uploads/

# Package Locks (optional if you don't want them)
# package-lock.json