/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f7fb;
}

/* Main Dashboard */

.dashboard{
    width:100%;
    min-height:100vh;
    display:flex;
    background:#f5f7fb;
}

/* Right Side */

.dashboard-content{
    flex:1;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
}

/* Main Wrapper */

.dashboard-wrapper{
    display:grid;
    grid-template-columns:3fr 1.2fr;
    gap:25px;
    padding:25px;
    width:100%;
}

/* Left Section */

.left-section{
    display:flex;
    flex-direction:column;
    gap:25px;
}

/* Right Section */

.right-section{
    display:flex;
    flex-direction:column;
    gap:25px;
}

/* Common Card */

.card{
    background:#ffffff;
    border-radius:22px;
    padding:22px;
    box-shadow:0 8px 25px rgba(0,0,0,.06);
}

/* Images */

img{
    max-width:100%;
    display:block;
}

/* Buttons */

button{
    border:none;
    outline:none;
    cursor:pointer;
}

/* Links */

a{
    text-decoration:none;
    color:inherit;
}

/* List */

ul{
    list-style:none;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#6d4aff;
    border-radius:50px;
}

::-webkit-scrollbar-track{
    background:#ececec;
}

/* Tablet */

@media(max-width:1200px){

.dashboard-wrapper{
    grid-template-columns:1fr;
}

.right-section{
    width:100%;
}

}

/* Mobile */

@media(max-width:768px){

.dashboard-wrapper{
    padding:15px;
    gap:20px;
}

.left-section,
.right-section{
    gap:20px;
}

}

/* Small Mobile */

@media(max-width:480px){

.dashboard-wrapper{
    padding:10px;
}

.card{
    border-radius:18px;
    padding:16px;
}

}