.premiumFooter{

    margin-top:140px;
    
    background:#0F172A;
    
    color:white;
    
    padding:80px 60px 40px;
    
    position:relative;
    
    overflow:hidden;
    
    }
    
    .wave{
    
    position:absolute;
    
    top:0;
    
    left:0;
    
    width:100%;
    
    height:120px;
    
    background:linear-gradient(
    90deg,
    #6C63FF,
    #8B5CF6
    );
    
    clip-path:ellipse(70% 100% at 50% 0%);
    
    }
    
    .footerTop{
    
    display:grid;
    
    grid-template-columns:
    2fr
    1fr
    1fr
    1fr
    1.5fr;
    
    gap:40px;
    
    margin-top:60px;
    
    }
    
    .brand h1{
    
    font-size:38px;
    
    margin-bottom:20px;
    
    }
    
    .brand p{
    
    color:#CBD5E1;
    
    line-height:32px;
    
    margin-bottom:25px;
    
    }
    
    .socialIcons{
    
    display:flex;
    
    gap:18px;
    
    font-size:24px;
    
    }
    
    .socialIcons svg{
    
    cursor:pointer;
    
    transition:.4s;
    
    }
    
    .socialIcons svg:hover{
    
    color:#8B5CF6;
    
    transform:translateY(-6px);
    
    }
    
    .footerTop h3{
    
    margin-bottom:20px;
    
    }
    
    .footerTop ul{
    
    list-style:none;
    
    }
    
    .footerTop li{
    
    margin:14px 0;
    
    color:#CBD5E1;
    
    cursor:pointer;
    
    transition:.3s;
    
    }
    
    .footerTop li:hover{
    
    color:white;
    
    padding-left:8px;
    
    }
    
    .footerTop button{
    
    width:100%;
    
    padding:15px;
    
    margin-bottom:15px;
    
    border:none;
    
    background:#6C63FF;
    
    color:white;
    
    border-radius:18px;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    gap:10px;
    
    cursor:pointer;
    
    }
    
    .footerBottom{
    
    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    
    margin-top:35px;
    
    }
    
    .payments{
    
    display:flex;
    
    gap:20px;
    
    font-size:34px;
    
    align-items:center;
    
    }
    
    .topBtn{
    
    width:55px;
    
    height:55px;
    
    border:none;
    
    border-radius:50%;
    
    background:#6C63FF;
    
    color:white;
    
    cursor:pointer;
    
    transition:.4s;
    
    }
    
    .topBtn:hover{
    
    transform:translateY(-8px);
    
    }
    
    @media(max-width:1200px){
    
    .footerTop{
    
    grid-template-columns:1fr 1fr;
    
    }
    
    }
    
    @media(max-width:768px){
    
    .footerTop{
    
    grid-template-columns:1fr;
    
    }
    
    .footerBottom{
    
    flex-direction:column;
    
    gap:20px;
    
    }
    
    }