.browseHeader{

    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    
    gap:30px;
    
    background:white;
    
    padding:20px 30px;
    
    border-radius:22px;
    
    box-shadow:0 10px 35px rgba(0,0,0,.07);
    
    }
    
    .location{
    
    display:flex;
    
    align-items:center;
    
    gap:10px;
    
    font-size:17px;
    
    font-weight:600;
    
    }
    
    .searchBox{
    
    flex:1;
    
    display:flex;
    
    align-items:center;
    
    gap:15px;
    
    background:#f4f4f4;
    
    padding:14px 20px;
    
    border-radius:15px;
    
    }
    
    .searchBox input{
    
    width:100%;
    
    border:none;
    
    outline:none;
    
    background:none;
    
    font-size:16px;
    
    }
    
    .headerRight{
    
    display:flex;
    
    align-items:center;
    
    gap:25px;
    
    font-size:22px;
    
    }
    
    .headerRight img{
    
    width:50px;
    
    height:50px;
    
    border-radius:50%;
    
    object-fit:cover;
    
    }