/* ================================
   BROWSE CATEGORIES
================================ */

.browseCategories{
    margin-top:-18px;
    width:100%;
}


/* SECTION TITLE */

.browseCategories h2{
    font-size:22px;
    margin:0 0 10px;
    line-height:1.2;
}


/* CATEGORY ROW */

.categoryRow{
    display:flex;
    gap:12px;
    overflow-x:auto;
    padding-bottom:5px;
}


/* HIDE SCROLLBAR */

.categoryRow::-webkit-scrollbar{
    display:none;
}