.browseCategories{

    margin-top:35px;
    
    }
    
    .browseCategories h2{
    
    font-size:28px;
    
    margin-bottom:20px;
    
    }
    
    .categoryRow{
    
    display:flex;
    
    gap:18px;
    
    overflow-x:auto;
    
    padding-bottom:10px;
    
    }
    
    .categoryRow::-webkit-scrollbar{
    
    display:none;
    
    }