.topRestaurants{

    margin-top:50px;
    
    }
    
    .titleRow{
    
    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    
    margin-bottom:25px;
    
    }
    
    .titleRow a{
    
    text-decoration:none;
    
    color:#6D5DFC;
    
    font-weight:600;
    
    }
    
    .restaurantGrid{
    
    display:grid;
    
    grid-template-columns:repeat(3,1fr);
    
    gap:25px;
    
    }
    
    @media(max-width:1200px){
    
    .restaurantGrid{
    
    grid-template-columns:1fr;
    
    }
    
    }